<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackerjacks.textcrypt"
    android:versionCode="3"
    android:versionName="1.02" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hackerjacks.textcrypt.Splash"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.TextCrypt"
            android:label="@string/main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.SMS"
            android:icon="@drawable/back1234"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.Prefs"
            android:label="@string/prefer"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.ChooseContacts"
            android:label="@string/title_activity_choose_contacts"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.Decrypt"
            android:icon="@drawable/back1234"
            android:label="@string/title_activity_decrypt"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="hackerjacks.textcrypt.About"
            android:icon="@drawable/back1234"
            android:label="@string/title_activity_about" 
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

</manifest>
